<!-- header.html -->
<link rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}" />

<header class="header-outer">
    <div class="header-inner responsive-wrapper">
        <nav class="header-navigation">
            <a th:href="@{/index}" class="nav-left">Home</a>
            <a href="#" class="nav-left">About</a>
            <a th:href="@{/quests/create}" class="nav-center">Create Quest</a>
            <a th:href="@{/login}" class="nav-right">Log out</a>
            <button>Menu</button>
        </nav>
    </div>
</header>