<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Головна</title>
    <link rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<div th:insert="~{header :: header}"></div>
<div  class="quest-container">
    <div class="quest-card" th:each="quest : ${quests}">
        <img th:src="@{${quest.imagePath}}" alt="Quest image" class="quest-image" />
        <div class="quest-content">
            <h2 class="quest-title" th:text="${quest.title}"></h2>
            <p class="quest-description" th:text="${quest.description}"></p>
            <a th:href="@{/quests/{id}(id=${quest.id})}" class="start-btn">Start</a>
        </div>
    </div>
</div>

</body>
</html>